body{
	Font-family: 'Roboto', sans-serif;
}
.navbar-brand img{
	width: 82px;
}
.card-title {
    font-size: 1rem;
}
.card{
	margin: 0 auto;
}
.card-text {
    font-size: 0.875rem;
}
.precio-original {
    text-align: right;
    color: #707070;
}
.precio-descuento {
    text-align: right;
    color: #28a745;
    font-size: larger;
}
.bg-verde {
    background-color: #28a745;
}
footer{
	text-align: center;
}

footer img{
	width: 82px;
	padding-top: 30px;
}

footer p{
	color:#fff;
	font-weight:100;
}